---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$background-color: #443933; // supplemented with an image pattern below.
$triangle-color-1:   #f2b200; // h2 decorator in tutorials, also referenced in _sass/_base.scss
$triangle-color-2:   #e84b38; // h3 decorator in tutorials, also referenced in _sass/_base.scss

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

// Overall
// Scale It Down
//
code {
  font-family:     monospace;
  font-size:       $base-font-size;
}

h2 {
  font-size:       $base-font-size * 1.6;
}

h3 {
  font-size:       $base-font-size * 1.4;
}

h4 {
  font-size:       $base-font-size * 1.2;
}
// Background image
//
body {
  background-image: url('{{ site.baseurl }}/images/WB-Paper-background.png');
}

// Webfonts
//
.Museo-700 {
  font-family:     Museo-700;
  font-weight:     normal;
  font-style:      normal;
}
.Museo-300 {
  font-family:     Museo-300;
  font-weight:     normal;
  font-style:      normal;
}
.Museo-500 {
  font-family:     Museo-500;
  font-weight:     normal;
  font-style:      normal;
}

// Navbar
//
.navbar {
  min-height:      58px;
  font-family:     Museo-500, serif;
}

// Carousel
#carousel-homepage {
  padding-top:     36px; // Clear out room for the fixed header
}

// Homepage
.homepage {
  color:            #000;
  background-color: #fff;
  padding-bottom:   30px;
  h2, h3, h4, h5, h6 {
    font-family:   Museo-500;
    padding-top:   1em;
    line-height:   2.4em;
    border-bottom: solid 1px #000;
  }
  p {
    font-family:   Roboto;
  }
  .video-caption {
    h2 {
      text-transform: uppercase;
      font-size:      1em;
      line-height:    $base-line-height * 0.8;
      margin-bottom:  0;
      border-bottom:  none;
    }
  }
}

// Tutorial
//
.tutorial {
  color:           $text-color;
  padding-top:     68px; // Clear out room for the fixed header
}
.tutorial-main {
  background-color: #00557e;
  h2, h3, h4, h5, h6 {
    font-family:   Museo-500;
  }
  p {
    font-family:   Roboto;
  }
  p, h4, h5, h6, .highlight {
    margin-left:   $base-font-size * 2;
  }
  h2::before {
    content:       '▶';
    font-size:     $base-font-size * 1.2;
    color:         $triangle-color-1;
    padding:       0 $base-font-size * 0.9 0 0;
    margin-left:   0;
  }
  h3::before {
    content:       '▶';
    font-size:     $base-font-size * 1.2;
    color:         $triangle-color-2;
    padding:       0 $base-font-size * 0.9 0 0;
    margin-left:   0;
  }
}
.tutorial-sidebar {
  ol, ul {
    margin-left: 10px;
  }
  li {
    font-family:   Roboto;
  }
  li.sidebar-header-item {
    text-transform: uppercase;
  }
}

// prev / next
// modeled after http://www.chromaticsites.com/blog/css-image-rollovers-accessible-standard-compliant-flicker-free
//
#prev-next {
  padding: 24px 0 24px 0;
  text-align: center;
}
a.prev {
  display: inline-block;
  width: 159px;
  height: 64px;
  background: url('{{ site.baseurl }}/images/prev.png') no-repeat 0 0;
  overflow: hidden;
  text-indent: -10000px;
  font-size: 0px;
  line-height: 0px;
}
a.next {
  display: inline-block;
  width: 159px;
  height: 64px;
  background: url('{{ site.baseurl }}/images/next.png') no-repeat 0 0;
  overflow: hidden;
  text-indent: -10000px;
  font-size: 0px;
  line-height: 0px;
}
a:visited.prev, a:visited.next {
  background-position: 0 -64px;
}
a:hover.prev, a:hover.next {
  background-position: 0 -128px;
}
a:active.prev, a:active.next {
  background-position: 0 -192px;
}

// footer
.site-description {
  text-align: center;
}
.social-media-list {
  text-align: right;
}


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
